.index-main-wrapper {
  flex: 1 0 800px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.index-text-container {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 100%;
}

.text-container {
  margin: auto 1em;
  text-transform: capitalize;
}

.text-container .text-title {
  display: inline;
  font-size: 10vw;
}

.time-map-container {
  flex: 0 0 10%;
  margin: 0 auto;
}

.text-icon-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.canvas-container {
  padding-right: 0.8rem;
  display: flex;
  flex: 0 1 100%;
}

canvas {
  width:100%;
  height:auto;
}

@media screen and (min-width: 640px) {
  .text-container .text-title {
    font-size: 3.136rem;
  }
}

@media screen and (min-width: 768px) {
  .index-text-container {
    flex: 0 1 70%;
  }
  .time-map-container {
    margin: 0 0 0 auto;
  }
  .canvas-container {
    flex: 0 1 30%;
  }
}
